body{
	background: rgb(30,87,153); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(30,87,153,1) 0%, rgba(144,225,229,1) 52%, rgba(32,124,202,1) 82%, rgba(125,185,232,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(52%,rgba(144,225,229,1)), color-stop(82%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(30,87,153,1) 0%,rgba(144,225,229,1) 52%,rgba(32,124,202,1) 82%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(30,87,153,1) 0%,rgba(144,225,229,1) 52%,rgba(32,124,202,1) 82%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(30,87,153,1) 0%,rgba(144,225,229,1) 52%,rgba(32,124,202,1) 82%,rgba(125,185,232,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(30,87,153,1) 0%,rgba(144,225,229,1) 52%,rgba(32,124,202,1) 82%,rgba(125,185,232,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.color2{
	border: 1px solid white;
	color: white;
}

.color3{
	border: 2px solid white; 
}



.tex1
{
	color: purple;
}

.centered
{
	text-align: center;
}