.color1 {
	
	background-color: #180000 ;

}

.color2 {
	
	background-color: #480000 ;

}

.color3 {
	
	background-color: #600000 ;

}

.color4 {
	
	background-color: #B80000 ;

}

.color5 {
	
	background-color: #CC3300 ;

}

.color6 {
	
	background-color: #CC6600 ;

}

.color7 {
	
	background-color: #FF9900;

}

.color8 {
	
	background-color: #FFCC00;

}

.color9 {
	
	background-color: #CCCC33;

}

.color10 {
	
	background-color: #CC3333;

}

.color11 {
	
	background-color: #993333;

}

.color12 {
	
	background-color: #999966;

}

.color13 {
	
	background-color: #282828 ;

}