.h1{

color: White;

}

.color1{

	background-color: #080808;
	
}

.color2{

	background-color: #181818;
	
}

.color3{

	background-color: #FF0000;
}
/*
#fondo{

	background-image: url(background_dia.png);
	background-repeat: no-repeat;


}*/

/*#fondo2{

	background-image: url(background_noche.png);
	background-repeat: no-repeat; 

}
*/
 